<h1>Yoohoo</h1>

<div class="row">
  <div class="col-md-6">
    <h3>Test H3</h3>
    <p>Second Home, 68 Hanbury Street, London, E1 4NF</p>

    <h3>Email</h3>
    <p><a href="mailto:nayelawick@gmail.com?subject=Getting in touch">email me</a></p>
  </div>

  <div class="col-md-6">
    <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.521114322293!2d-0.0738714843798367!3d51.52200117963745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761cb640ab7f25%3A0xe1078eb9c803248e!2sBrick%20Ln%2C%20London!5e0!3m2!1sen!2suk!4v1575968774911!5m2!1sen!2suk" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></p>
  </div>
</div>
